@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer marqueeAnimationLayer {
  .marqueeAnimation1 {
    animation-name: marqueeAnimationKeyframesToLeft;
    animation-duration: 40s;
    animation-timing-function: linear;
    animation-delay: -40s;
    animation-iteration-count: infinite;
  }
  .marqueeAnimation2 {
    animation-name: marqueeAnimationKeyframesToLeft2;
    animation-duration: 40s;
    animation-delay: -20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  .marqueeAnimation3 {
    animation-name: marqueeAnimationKeyframesToRight;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  .marqueeAnimation4 {
    animation-name: marqueeAnimationKeyframesToRight;
    animation-duration: 20s;
    animation-delay: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  @keyframes marqueeAnimationKeyframesToLeft {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  @keyframes marqueeAnimationKeyframesToLeft2 {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-200%);
    }
  }
}

@layer backgroundFadeOutLayer {
  .backgroundFadeOutAnimation {
    animation-name: backgroundFadeOutKeyframes;
    animation-duration: 5s;
  }
  @keyframes backgroundFadeOutKeyframes {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}

@layer SolarPanelAnimationLayer {
  .solarPanelAnimation {
    animation-name: solarPanelKeyframes;
    animation-duration: 3s;
    animation-timing-function: linear;
    /* animation-iteration-count: infinite; */
  }
  @keyframes solarPanelKeyframes {
    0% {
      margin-left: 0%;
      transform: scale(1);
    }
    100% {
      transform: scale(2);
      margin-left: 100%;
    }
  }
}

@layer TextIntro1AnimationLayer {
  .textIntro1AnimationLayer {
    animation-name: textIntro1AnimationKeyframes;
    animation-duration: 6s;
  }
  @keyframes textIntro1AnimationKeyframes {
    0% {
      opacity: 0;
      margin-left: 9vw;
    }
    50% {
      opacity: 0;
      margin-left: 9vw;
    }
    90% {
      opacity: 1;
      font-size: 5rem;
      margin-left: 9vw;
    }
  }
}

@layer TextIntro2AnimationLayer {
  .textIntro2AnimationLayer {
    animation-name: textIntro2AnimationKeyframes;
    animation-duration: 10s;
  }
  @keyframes textIntro2AnimationKeyframes {
    0% {
      opacity: 0;
    }
    40% {
      opacity: 0;
    }
    75% {
      text-shadow: 0 0 2px #ecc657, 0 0 6px #e1f054;
    }
    90% {
      opacity: 1;
      font-size: 5rem;
    }
  }
}

@layer TextIntro3AnimationLayer {
  .textIntro3AnimationLayer {
    animation-name: textIntro3AnimationKeyframes;
    animation-duration: 18s;
  }
  @keyframes textIntro3AnimationKeyframes {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0;
    }
    75% {
      opacity: 1;
    }
  }
}

@layer bgFadeInLayer {
  .bgFadeInAnimationLayer {
    animation-name: bgFadeInKeyframes;
    animation-duration: 15s;
  }
  @keyframes bgFadeInKeyframes {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0;
    }
    60% {
      opacity: 0.9;
    }
  }
}

@layer LoadingAnimationLayer {
  .loadingAnimationSolarPanelCSS {
    animation-name: loadingAnimationKeyframes;
    animation-duration: 3s;
  }
  @keyframes loadingAnimationKeyframes {
    0% {
      position: absolute;
      margin-left: 50vw;
      margin-top: 50vh;

      transform: scale(5);
      transform: rotate(180deg);
    }
    40% {
      position: absolute;
      margin-left: 50vw;
      margin-top: 50vh;
      transform: rotate(0deg), scale(5);
    }
    80% {
      position: absolute;
      margin-left: 50vw;
      margin-top: 50vh;
      transform: scale(5);
    }
  }
}

@layer textUpAndDownAnimations {
  .textUpAndDown1 {
    animation-name: textUpAndDownAnimation;
    animation-duration: 2.5s;
    animation-delay: 1s;
  }
  .textUpAndDown2 {
    animation-name: textUpAndDownAnimation;
    animation-duration: 2.5s;
    animation-delay: 1.5s;
  }
  .textUpAndDown3 {
    animation-name: textUpAndDownAnimation;
    animation-duration: 2.5s;
    animation-delay: 2s;
  }
  .textUpAndDown4 {
    animation-name: textUpAndDownAnimation;
    animation-duration: 2.5s;
    animation-delay: 2.5s;
  }
  .textUpAndDown5 {
    animation-name: textUpAndDownAnimation;
    animation-duration: 2.5s;
    animation-delay: 3s;
  }
  .textUpAndDown6 {
    animation-name: textUpAndDownAnimation;
    animation-duration: 2.5s;
    animation-delay: 3.5s;
  }
  .textUpAndDown7 {
    animation-name: textUpAndDownAnimation;
    animation-duration: 2.5s;
    animation-delay: 4s;
  }
  .textUpAndDown8 {
    animation-name: textUpAndDownAnimation;
    animation-duration: 2.5s;
    animation-delay: 4.5s;
  }
  .textUpAndDown9 {
    animation-name: textUpAndDownAnimation;
    animation-duration: 2.5s;
    animation-delay: 5s;
  }
  @keyframes textUpAndDownAnimation {
    0% {
      margin-top: 0%;
    }
    30% {
      margin-top: 2%;
    }
    58% {
      margin-top: -2%;
    }
    100% {
      margin-top: 0%;
    }
  }
}

@layer comeFromBottomAnimation {
  .comeInFromBottomAnimation {
    animation-name: ComeFromBottomAnimation;
    animation-duration: 1s;
  }
  @keyframes ComeFromBottomAnimation {
    0% {
      opacity: 0;
      margin-top: 20%;
    }
    100% {
      opacity: 1;
      margin-top: 0%;
    }
  }
}

@layer cloudsSceneChangeLayer {
  @keyframes cloudsSceneChangeKeyframes {
    0% {
      opacity: 1;
      margin-top: 100vh;
      transform: scale(1);
    }
    100% {
      opacity: 1;
      margin-top: -50vh;
      transform: scale(2);
    }
  }
  .cloudsSceneChangeAnimation {
    animation-name: cloudsSceneChangeKeyframes;
    animation-duration: 8s;
    animation-delay: 3s;
  }
}

@layer birdFlyingLayer {
  @keyframes birdFlyingKeyframes {
    10% {
      top: 10em;
      left: -10vw;
      opacity: 1;
    }
    100% {
      top: 10rem;
      opacity: 0.2;
      left: 95vw;
    }
  }
  .birdFlyingAnimation {
    animation-name: birdFlyingKeyframes;
    animation-duration: 10s;
    animation-delay: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
}

@layer scaleLayer {
  .scaleAnimation {
    animation-name: scaleKeyframes;
    animation-duration: 8s;
    animation-delay: 3s;
  }
  @keyframes scaleKeyframes {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(2);
    }
  }
}
@layer fadeToBlack {
  @keyframes fadeToBlackKeyframes {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  .fadeToBlackAnimation {
    animation-name: fadeToBlackKeyframes;
    animation-duration: 5s;
    animation-delay: 7s;
  }
}
@layer cursiveWriting {
  .cursiveFont {
    font-family: 'Brush Script MT', cursive;
  }
}

.cursive {
  @apply cursiveFont;
}

.textBounce1 {
  @apply textUpAndDown1;
}
.textBounce2 {
  @apply textUpAndDown2;
}
.textBounce3 {
  @apply textUpAndDown3;
}
.textBounce4 {
  @apply textUpAndDown4;
}
.textBounce5 {
  @apply textUpAndDown5;
}
.textBounce6 {
  @apply textUpAndDown6;
}
.textBounce7 {
  @apply textUpAndDown7;
}
.textBounce8 {
  @apply textUpAndDown8;
}
.textBounce9 {
  @apply textUpAndDown9;
}
.comeFromBottom {
  @apply comeInFromBottomAnimation;
}
.cloudsSceneChange {
  @apply cloudsSceneChangeAnimation;
}
.fadeToBlack {
  @apply fadeToBlackAnimation;
}
.scale {
  @apply scaleAnimation;
}
.birdFlying {
  @apply birdFlyingAnimation;
}
.solarPanel {
  @apply solarPanelAnimation;
}

.bg-grid {
  background-size: 40px 40px;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.04) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgba(0, 0, 0, 0.04) 1px, transparent 1px);
}

.loadingAnimationSolarPanel {
  @apply loadingAnimationSolarPanelCSS;
}

.textIntro1 {
  @apply textIntro1AnimationLayer;
}

.textIntro2 {
  @apply textIntro2AnimationLayer;
}

.textIntro3 {
  @apply textIntro3AnimationLayer;
}

.bgFadeIn {
  @apply bgFadeInAnimationLayer;
}

.marquee1 {
  @apply marqueeAnimation1;
}

.marquee2 {
  @apply marqueeAnimation2;
}

.marquee3 {
  @apply marqueeAnimation3;
}

.marquee4 {
  @apply marqueeAnimation4;
}

.backgroundFadeOut {
  @apply backgroundFadeOutAnimation;
}
