@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer textUpAndDownAnimations {
  .textUpAndDown1 {
    animation-name: textUpAndDownAnimation;
    animation-duration: 2.5s;
    animation-delay: 1s;
  }
  .textUpAndDown2 {
    animation-name: textUpAndDownAnimation;
    animation-duration: 2.5s;
    animation-delay: 1.5s;
  }
  .textUpAndDown3 {
    animation-name: textUpAndDownAnimation;
    animation-duration: 2.5s;
    animation-delay: 2s;
  }
  .textUpAndDown4 {
    animation-name: textUpAndDownAnimation;
    animation-duration: 2.5s;
    animation-delay: 2.5s;
  }
  .textUpAndDown5 {
    animation-name: textUpAndDownAnimation;
    animation-duration: 2.5s;
    animation-delay: 3s;
  }
  .textUpAndDown6 {
    animation-name: textUpAndDownAnimation;
    animation-duration: 2.5s;
    animation-delay: 3.5s;
  }
  .textUpAndDown7 {
    animation-name: textUpAndDownAnimation;
    animation-duration: 2.5s;
    animation-delay: 4s;
  }
  .textUpAndDown8 {
    animation-name: textUpAndDownAnimation;
    animation-duration: 2.5s;
    animation-delay: 4.5s;
  }
  .textUpAndDown9 {
    animation-name: textUpAndDownAnimation;
    animation-duration: 2.5s;
    animation-delay: 5s;
  }
  @keyframes textUpAndDownAnimation {
    0% {
      margin-top: 0%;
    }
    30% {
      margin-top: 2%;
    }
    58% {
      margin-top: -2%;
    }
    100% {
      margin-top: 0%;
    }
  }
}

@layer comeFromBottomAnimation {
  .comeInFromBottomAnimation {
    animation-name: ComeFromBottomAnimation;
    animation-duration: 1s;
  }
  @keyframes ComeFromBottomAnimation {
    0% {
      opacity: 0;
      margin-top: 20%;
    }
    100% {
      opacity: 1;
      margin-top: 0%;
    }
  }
}

@layer cloudsSceneChangeLayer {
  @keyframes cloudsSceneChangeKeyframes {
    0% {
      opacity: 1;
      margin-top: 100vh;
      transform: scale(1);
    }

    100% {
      opacity: 1;
      margin-top: -50vh;
      transform: scale(2);
    }
  }
  .cloudsSceneChangeAnimation {
    animation-name: cloudsSceneChangeKeyframes;
    animation-duration: 8s;
    animation-delay: 3s;
  }
}
@layer fadeToBlack {
  @keyframes fadeToBlackKeyframes {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  .fadeToBlackAnimation {
    animation-name: fadeToBlackKeyframes;
    animation-duration: 5s;
    animation-delay: 7s;
  }
}
@layer cursiveWriting {
  .cursiveFont {
    font-family: 'Brush Script MT', cursive;
  }
}

.cursive {
  @apply cursiveFont;
}

.textBounce1 {
  @apply textUpAndDown1;
}
.textBounce2 {
  @apply textUpAndDown2;
}
.textBounce3 {
  @apply textUpAndDown3;
}
.textBounce4 {
  @apply textUpAndDown4;
}
.textBounce5 {
  @apply textUpAndDown5;
}
.textBounce6 {
  @apply textUpAndDown6;
}
.textBounce7 {
  @apply textUpAndDown7;
}
.textBounce8 {
  @apply textUpAndDown8;
}
.textBounce9 {
  @apply textUpAndDown9;
}
.comeFromBottom {
  @apply comeInFromBottomAnimation;
}
.cloudsSceneChange {
  @apply cloudsSceneChangeAnimation;
}
.fadeToBlack {
  @apply fadeToBlackAnimation;
}
